<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="connection" connectionString="Data Source=PatricksYoga7\SQLEXPRESS; Initial Catalog=S10;Integrated Security=true" />
    </connectionStrings>
</configuration>